.SideMenu {
    position: relative;
    width: 20rem;
    height: 100%;
    max-width: 30rem;
    font-family: Montserrat, sans-serif;
    background-color: #C3C3C3;
    border-right: #5a5a5a solid 1px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-color: #b5b5b5 #919191;
}