.TaskListContainer {
    font-family: 'Montserrat', sans-serif;
    width: 25rem;
    flex-shrink: 0;
    min-height: 10%;
    height: fit-content;
    border: 2px solid #8D8D8D;
    background-color: #BABABA;
    overflow: hidden;
}

.TaskList {
    position: relative;
    max-height: 40rem;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-color: #8D8D8D #aaaaaa;
    scrollbar-width: thin;
}
